page-crime-form {
    ion-content{
        div.buttonset{
            text-align: center;
        }
    }

    ion-footer{
        text-align: center;
        button{
            width: 50%;
        }
    }
}
